@model kütüphaneuygulaması.Models.usersaccounts
@{
    ViewData["Title"] = "Admin Ekle";
}
<h2>Admin Ekle</h2>
<form asp-action="CreateAdmin" method="post">
    <div class="form-group">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="pass"></label>
        <input asp-for="pass" type="password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="email"></label>
        <input asp-for="email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Admin Oluştur</button>
</form> 